/* ------------------------------------------------------ VARIABLES ------------------------------------------------------ */
:root {
    /* ----- COLORS ----- */
    --blue-primary: rgb(43,95,252);
    --blue-50: rgb(234, 239, 255);
    --blue-900: rgb(18, 40, 106);
    
    --white: #FFFFFF;
    --black: rgb(20, 20, 20);
    --grey-400: rgb(67, 67, 67);

    --yellow-secondary: rgb(255, 218, 1);
    --orange-secondary: rgb(255, 94, 9);
    --green-secondary: rgb(0, 193, 79);
    --purple-secondary: rgb(154, 65, 255);

    /* ----- TYPE ----- */
    --font-family: "Open Sans", sans-serif;
    --header-xxlarge-size: 88px;
    --title-section-font-size: 30px;
    --button-font-size: 24px;
    --body-text-font-size: 20px;
    --menu-font-size: 16px;
    --label-font-size: 16px;
    --font-style-normal: normal;
    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-400: 400;
    --menu-text-hover-font-weight: 700;
    --line-height-xxlarge: 100px;
    --line-height-large: 36px;
    --line-height-medium: 28px;
    --line-height-small: 20px;

    /* ----- SPACING ----- */
    --space-small: 8px;
    --space-regular: 16px;
    --space-medium: 32px;
    --space-large: 48px;
    --space-extra-large: 140px;
}

/* ------------------------------------------------------ GENERAL STYLES ------------------------------------------------------ */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
    height: 100%; 
}

*, *::before, *::after {
    box-sizing: inherit; 
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-extra-large);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-large); 
    margin: var(--space-large);
    max-width: 1512px; 
    width: 100%;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: var(--space-large);
    width: 100%;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: var(--space-large);
}


.header-xxlarge {
    color: var(--black);
    font-size: var(--header-xxlarge-size);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-xxlarge);
    margin-bottom: var(--space-medium);
}

.title-section {
    color: var(--black);
    font-size: var(--title-section-font-size);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-large);
    margin-bottom: var(--space-regular);
}


.body-text {
    color: var(--black);
    font-size: var(--body-text-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-medium);
    margin-top: 0;
}

.menu-text {
    color: var(--white);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-small);
}

.menu-text-hover {
    font-weight: var(--menu-text-hover-font-weight);
}

.label {
    color: var(--black);
    font-size: var(--label-font-size);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-small);
}

.button {
    color: var(--white);
    text-align: center;
    font-size: var(--button-font-size);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-medium);
}

/* ----- NAV BAR ----- */
.nav-bar {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 var(--space-large); 
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-primary);
}

.logo {
    display: flex;
    height: 28px;
    align-items: flex-end;
    transition: fill 0.3s ease;
}

.menu {
    display: flex; 
    align-items: center;
    gap: var(--space-large);
}

.menu-item, a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-regular);
    transition: font-weight 0.3s ease;
    text-decoration: none;
}

.menu-item:hover {
    font-weight: var(--menu-text-hover-font-weight);
}

/* ----- HEADER ----- */
.two-column > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.two-column > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 690px ;
}

.img-graphic {
    width: 100%;
    height: auto;
    margin: 0 48px;
}

/* ----- PAGE CARDS ----- */
.pages-cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    grid-column: span 1;
}

.cards-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-large);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    grid-column: span 1;
    border-radius: 8px;  /* Set corner radius */
    transition: outline 0.3s ease, transform 0.3s ease; /* Add transition for outline and transform */
}

.card:hover .card-item {
    outline: 2px solid var(--blue-primary); /* Blue outline on hover */
}

.card:hover {
    transform: scale(1.05);  /* Optional: Slightly enlarge the card on hover */
}

.card-item {
    transition: outline 0.3s ease; 
    border-radius: 8px; 
}

.card-item:hover {
    outline: 2px solid var(--blue-primary); 
}


/* ----- FOOTER ----- */

.footer {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 0 var(--space-large); 
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-900);
}

.footer .two-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-text {
    color: var(--white);
    text-align: right;  /* Ensure the text is aligned to the right */
    margin-left: auto;  /* Push the text to the right */
}