/* ----- HEADER ----- */
.two-column > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.two-column > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 690px;
    margin-top: var(--space-large);
}

.img-graphic {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-left: 48px;
    margin-right: 48px;
}

/* ----- PAGE CARDS ----- */
.pages-cards {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    grid-column: span 1;
}

.cards-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-large);
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    grid-column: span 1;
    border-radius: 8px;
    transition: outline 0.3s ease, transform 0.3s ease;
}

.card:hover .card-item {
    outline: 2px solid var(--blue-primary);
}

.card:hover {
    transform: scale(1.05);
}

.card-item {
    transition: outline 0.3s ease;
    border-radius: 8px;
}

.card-item:hover {
    outline: 2px solid var(--blue-primary);
}



/* ----- HEADER TEXT STYLES ----- */
.header-xxlarge {
    color: var(--black);
    font-size: var(--header-xxlarge-size);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-xxlarge);
    margin-bottom: var(--space-medium);
}

.title-section {
    color: var(--black);
    font-size: var(--title-section-font-size);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-large);
    margin-bottom: var(--space-regular);
    text-decoration: none;
}
